/*HEADER STYLES*/
#p,
h1 {
  text-align: center;
  color: rgb(39, 42, 111);
  font-size: large;
}

p {
  font-size: x-small;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 5px;
}

.demo-border {
  border: 3px solid #36696d;
  box-shadow: 6px 6px 15px rgba(125, 2, 2, 0.3);
  text-align: center;
}

/* CONTAINER STYLES */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#myBooks {
  font-size: 2vw;
  text-align: center;
  width: 60%;
  margin: 0 auto;
}

#myBooks::after:hover {
  background-color: aqua;
}

/* LOGO STYLES */
#logoImage::before {
  content: url('https://raw.githubusercontent.com/ANJIpr5/images-project-6/main/logo1.png');
  display: block;
  margin: 12px auto;
}

#logoImage {
  display: block;
  margin: 0 auto;
  max-width: 35%; 
  height: auto;
}

/* BUTTON STYLES */
.ajouter-button {
  display: block;
  background-color: #19c04e;
  color: #fff;
  cursor: pointer;
  font-size: 2vw;
  border-radius: 2vw;
  width: 50%;
  height: auto;
  margin: 15px auto;
}

.ajouter-button:hover {
  background-color: #0056b3;
}


/* SEARCH FORM STYLES */
.search-form {
  text-align: center;
  margin-top: 20px;
  display: block;
}

/* INPUT STYLES */
.search-form input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  display: block;
}


/* BUTTON STYLES */
.rechercher-button,
.annuler-button {
  display: inline-flex;
  cursor: pointer;
  text-align: center;
  font-size: 1vw;
  border-radius: 2vw;
  padding: 5px;
  width: 40%;
  max-width: 172px;
}

.rechercher-button {
  background-color: #4f8607;
  color: #fff;
  margin-right: 3px;
}

.annuler-button {
  background-color: #b84f04;
  color: #ffff;
  margin-left: 3px;
}


/* SEARCH RESULT STYLES */
.search-results {
  text-align: center;
  margin-top: 20px;
}

#search-Results {
  display: flex;
  flex-wrap: wrap;
  font-size: 1vw;
  text-align: center;
  font-weight: lighter;
}

/* BOOK RESULT STYLES */ 
.book-result.bookmarked .delete-icon {
  display: inline; /* Hide delete icons for search results */
}

.book-result {
  box-sizing: border-box;
  width: 100%; // Default width for small screens (1 book per line)
  max-height: 100%;
  font-size: 1vw;

  @media screen and (max-width: 400px) {
    width: 100%; // Adjust the width for very small screens
  }

  p.information-missing {
    color: red;
    font-weight: bold;
  }

  h3 {
    font-size: small;
    font-weight: bold;
    margin-bottom: 5px;
  }

  .book-result img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }

  @media screen and (max-width: 600px) {
    #myBooks {
      width: 100%;
    }

    .rechercher-button,
    .annuler-button {
      font-size: 5px;
      width: 80%;
      max-width: none;
      margin: 5px auto;
    }
    .ajouter-button {
      font-size: 7px;
      width: 80%;
    }
  }

  @media screen and (min-width: 600px) {
    width: 50%;
  }

  @media screen and (min-width: 1024px) {
    .rechercher-button,
    .annuler-button,
    .ajouter-button {
      font-size: 8px;
    }
    width: 31%;
  }
}

.maPocheListe {
  text-align: center;
  margin-top: 20px;
}

#maPocheListe {
  background-color: #c8f6d0;
  display: flex;
  flex-wrap: wrap;
  font-size: 1vw;
  text-align: center;
  font-weight: lighter;
}

#maPocheListe h2 {
  margin-top: 0;
  display: block;
  text-align: center;
}

.bookmark-icon {
  display: none;
}

.book-result {
  position: relative;
}

/* STYLE FONT AWESOME ICON */
.book-result .fas.fa-bookmark {
  display: inline-flex;
  font-size: 27px;
  color: rgb(22, 171, 124);
  position: absolute;
  top: 5mm;
  right: 2mm;
  margin: 0;

  @media screen and (max-width: 600px) {
    font-size: 15px; 
    top: 2mm; 
    right: 2mm; 
  }
}

.delete-icon {
  font-size: 27px;
}

.book-result.bookmarked {
  box-sizing: border-box;
  width: 100%;
}

#book-result.bookmarked {
  display: flex;
  flex-wrap: wrap;
  font-size: x-small;
  text-align: center;
  font-weight: lighter;
}

.book-result.bookmarked h3 {
  font-size: small;
  font-weight: bold;
  width: 100%;
  margin-bottom: 5px;
}

.book-cover {
  width: 100px;
  height: 150px;
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  max-height: 300px;
}

.book-result.bookmarked p.information-missing {
  color: red;
  font-weight: bold;
  width: 100%;
}

.book-result.bookmarked img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  margin-bottom: 10px;
}

.delete-icon {
  margin-top: auto;
}

@media screen and (min-width: 600px) {
  .book-result.bookmarked {
    width: 48%;
  }
}

@media screen and (min-width: 1024px) {
  .book-result.bookmarked {
    width: 31%;
  }
}

#content {
  text-align: center;
}

.delete-icon-search {
  display: none;
}

#maPocheListeContainer {
  margin: auto;
  max-width: 600px;
  text-align: center;
}

.maPocheListe {
  display: flex;
  flex-direction: column;
  align-items: center;
}